<!--<div class="container">-->
<!--  <h1 class="mat-display-1">What is Listen And Go?</h1>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <p class="mat-body-2">-->
<!--    Listen And Go is a full-stack, Angular + ASP.NET Core solution for playing-->
<!--    YouTube playlists with complete privacy. You can search for YouTube videos,-->
<!--    save them to playlists, and listen on the go without needing a YouTube-->
<!--    account!-->
<!--  </p>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <h2>How do I get started?</h2>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <p>-->
<!--    Simply create a Listen And Go account by click the button on the top right.-->
<!--    Then you can start creating playlists and saving songs!-->
<!--  </p>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <p>-->
<!--    If you don't want to create a Listen And Go account, you can still queue-->
<!--    songs and play them by searching them up with the navigation on the left.-->
<!--  </p>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <h2>I hope you enjoy listening!</h2>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <p>-->
<!--    You can view the source code for this application over on my-->
<!--    <a href="https://github.com/MarcusChok110/ListenAndGo">GitHub</a>.-->
<!--  </p>-->
<!--</div>-->

<header class="masthead display-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">Listen And Go</h1>
    <h3>
      <em
        >Listen to YouTube playlists privately without the need for a YouTube
        account
      </em>
    </h3>
  </div>
</header>
