.player-footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
}

.spacer {
  flex: 1 1 auto;
}

.player-progress-container {
  height: 1.5em;
  padding-top: 0.75em;
}

.player-progress-bar {
  width: 100%;
}
