<mat-toolbar class="player-footer">
  <mat-toolbar-row class="player-progress-container">
    <mat-slider
      class="player-progress-bar"
      min="0"
      [max]="songTotalTime"
      step="0.1"
      [(value)]="songCurrentTime"
      (input)="onSliderChange($event)"
      thumbLabel
      [displayWith]="formatLabel"
    ></mat-slider>
  </mat-toolbar-row>
  <mat-toolbar-row class="main-player">
    <!-- Empty button to push element to the middle -->
    <mat-list class="song-display">
      <mat-list-item *ngIf="songService.currentSong as song">
        <img
          matListAvatar
          [src]="song.imgUrl"
          [alt]="song.name + 'Thumbnail'"
        />
        <h3 matLine>{{ song.name }}</h3>
        <p matLine>{{ song.artist }}</p>
      </mat-list-item>
    </mat-list>
    <button mat-icon-button (click)="onSkipBackwards()">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="basic"
      *ngIf="songService.isPlaying"
      (click)="onPause()"
    >
      <mat-icon>pause</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="basic"
      *ngIf="!songService.isPlaying"
      (click)="onPlay()"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button (click)="onSkipForwards()">
      <mat-icon>skip_next</mat-icon>
    </button>
    <div class="controls-container">
      <span class="spacer"></span>
      <button
        matTooltip="Open Queue"
        matTooltipPosition="before"
        mat-icon-button
        (click)="openQueue()"
      >
        <mat-icon>queue_music</mat-icon>
      </button>
      <button
        matTooltip="Clear Current Song"
        matTooltipPosition="before"
        mat-icon-button
        (click)="onClear()"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div
  *ngIf="songService.currentSong && songService.currentSong.type === 'YOUTUBE'"
  style="display: none"
>
  <youtube-player
    #player
    [videoId]="songService.currentSong.path"
    (stateChange)="onSongEnd($event)"
  ></youtube-player>
</div>
