.player-footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
}

.controls-container {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}

.player-progress-container {
  height: 1.25em;
  padding-top: 1em;
}

.player-progress-bar {
  width: 100%;
}

.main-player {
  height: 4.5em;
}

.song-display {
  flex: 1 1;
  overflow: hidden;
}
