<mat-toolbar class="player-footer">
  <mat-toolbar-row class="player-progress-container">
    <mat-slider
      class="player-progress-bar"
      min="0"
      max="100"
      step="0.1"
    ></mat-slider>
  </mat-toolbar-row>
  <mat-toolbar-row class="main-player">
    <!-- Empty button to push element to the middle -->
    <mat-list class="song-display">
      <mat-list-item *ngIf="songService.currentSong as song">
        <img
          matListAvatar
          [src]="song.imgUrl"
          [alt]="song.name + 'Thumbnail'"
        />
        <h3 matLine>{{ song.name }}</h3>
        <p matLine>{{ song.artist }}</p>
      </mat-list-item>
    </mat-list>
    <button mat-icon-button>
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-mini-fab color="basic" (click)="onTogglePlay()">
      <mat-icon *ngIf="songService.isPlaying">pause</mat-icon>
      <mat-icon *ngIf="!songService.isPlaying">play_arrow</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>skip_next</mat-icon>
    </button>
    <div class="controls-container">
      <span class="spacer"></span>
      <button mat-icon-button (click)="openQueue()">
        <mat-icon>queue_music</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
