<mat-toolbar class="sticky-header" color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <mat-icon>audiotrack</mat-icon>
  <span>{{ title }}</span>
  <mat-icon>audiotrack</mat-icon>
  <span class="spacer"></span>
  <button
    mat-icon-button
    *ngIf="userService.isLoggedIn$ | async"
    [matMenuTriggerFor]="loggedInMenu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="!(userService.isLoggedIn$ | async)"
    [matMenuTriggerFor]="loggedOutMenu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #loggedInMenu="matMenu">
  <button mat-menu-item class="menu-item-user">
    Hi, {{ userService.user?.userName }}!
  </button>
  <button mat-menu-item (click)="logout()">Log Out</button>
</mat-menu>

<mat-menu #loggedOutMenu="matMenu">
  <button mat-menu-item (click)="register()">Register</button>
  <button mat-menu-item (click)="login()">Log In</button>
</mat-menu>
