<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Application</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let route of routes" [routerLink]="route.path">
        <mat-icon mat-list-icon>{{ route.icon }}</mat-icon>
        {{ route.title }}
      </a>
    </mat-nav-list>
    <div *ngIf="userService.isLoggedIn$ | async">
      <mat-divider></mat-divider>
      <mat-toolbar>Playlists</mat-toolbar>
      <mat-nav-list>
        <cdk-virtual-scroll-viewport itemSize="48" class="playlist-viewport">
          <div *cdkVirtualFor="let item of playlistService.playlists$ | async">
            <a mat-list-item routerLink="/playlist/{{ item.id }}">
              <span class="playlist-item">
                {{ item.name }}
              </span>
            </a>
          </div>
        </cdk-virtual-scroll-viewport>
        <a mat-list-item (click)="openPlaylistDialog()">
          <mat-icon mat-list-icon>add</mat-icon>
          Add Playlist
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [isHandset$]="isHandset$" [drawer]="drawer"></app-header>
    <ng-content></ng-content>
    <!-- Extra space so that footer does not cover content at bottom -->
    <div style="margin-bottom: 9em"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
