<mat-list *ngIf="mockItems">
  <div mat-subheader>Soundcloud Search Results</div>
  <mat-list-item *ngFor="let item of mockItems">
    <img
      matListAvatar
      [src]="item.snippet.thumbnails.default.url"
      [alt]="item.snippet.title + ' Thumbnail'"
    />
    <h3 matLine>{{ item.snippet.title | decodeHTML }}</h3>
    <p matLine>{{ item.snippet.channelTitle }}</p>
    <button mat-icon-button [matMenuTriggerFor]="addMenu">
      <mat-icon>add</mat-icon>
      <mat-menu #addMenu>
        <button
          mat-menu-item
          *ngFor="let playlist of playlistService.playlists$ | async"
          (click)="onAdd(item, playlist)"
        >
          {{ playlist.name }}
        </button>
      </mat-menu>
    </button>
  </mat-list-item>
</mat-list>
